html {
    color: white;
    font-family: "Comfortaa", sans-serif;
    height: 100%;
}

body {
    background-color: #405885;
    overflow: hidden;
    height: 100%;
}

nav {
    background-color: #2B4980;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 5px;
    margin: 0px -10px 0px;
}

nav > a {
    height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: darkorange;
    padding-top: 5px;
}

nav > a:hover {
    color: white;
}

.header {
    background-image: url("/pictures/space.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 20%;
    width: 100%;
    padding: 50px;
    margin: -10px -10px 0px -10px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    background-color: lightsteelblue;
    width: 80%;
    flex: 1 0 auto;
    display: flex;
}

.main {
    flex: 0 0 70%;
    padding: 10px;
}

.assignments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.assignments > a {
    padding: 10px;
    background-color: lightslategray;
    color: white;
    height: 100px;
    width: 250px;
    margin: 25px;
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

.sidebar {
    padding: 10px;
}

.footer {
    flex-shrink: 0;

}