.header {
    display: flex;
    color: #FFFAF0;
    background-color: #003175;
    max-width: 100%;
    font-family: 'Oxanium', sans-serif;
    align-content: center;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
    padding: 2%;
}

.body {
    background-color: #B3A384;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contentone {
    order: 1;
    flex: 0 1 auto;
    max-width: 33%;
    margin: 10px;
}

.contentone img{
    max-width: 100%;
    border: 1px solid chartreuse;
    border-radius: 4px;
}

.contentone p {
    background-color: #FFF1D6;
    padding: 5px;
    border: 1px solid chartreuse;
    border-radius: 4px;
}

.contenttwo {
    order: 2;
    flex: 1 0 auto;
    max-width: 66%;
    background-color: #FFF1D6;
    margin: 10px;
    padding: 5px;
    border: 1px solid chartreuse;
    border-radius: 4px;
}

.contenttwo h2 {
    font-family: "Share", sans-serif;
}

.contenttwo h3 {
    font-family: "Comfortaa", sans-serif;
    font-style: italic;
}

