body {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    background: #eee;
    font-family: Arial, sans-serif;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.2
  }

form {

}

label {

}

input, textarea {
    border-radius: 5px;
}

button {
    background-color: #ffaf38;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #ffa012;
    color: white;
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
